/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Global Rules */
body {
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../public/src/background.jpg');
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    z-index: -1;
}

.App {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

.content {
    height: 100%;
}